<?php echo $this->doctype(); ?>
<?php
session_start();
clearstatcache();
?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Predictivo ' . $this->translate('| TicSafe'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/telefonoVerde.ico'))
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/fonts/css/font-awesome.min.css')
                ->prependStylesheet($this->basePath() . '/css/animate.min.css')
                ->prependStylesheet($this->basePath() . '/css/custom.css')
                ->prependStylesheet($this->basePath() . '/css/icheck/flat/green.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ;
        ?>


        <script src="<?php echo $this->basePath(); ?>/js/custom.js"></script>
        <link href="<?php echo $this->basePath(); ?>/css/custom.css" rel="stylesheet">

    </head>
    <body style="background:#F7F7F7;">
        <div class="col-md-12">            
            <div id="wrapper">
                <!-- Contenido -->
                <?php echo $this->content; ?>
                <!-- Contenido -->
            </div> 
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
        </div>
        <?php include 'includes_foot.php'; ?>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
