/**=============================================================================
 *
 *	Filename: stylesheet.css
 *	
 *	(c)Autor: Arkos Noem Arenom
 *	
 *	Description: Estilos del documento
 *	
 *	Licence: GPL|LGPL
 *	
 *===========================================================================**/
input#gobutton{
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:5px 25px; /*add some padding to the inside of the button*/
	background:#F02C2C; /*the colour of the button*/
	border:1px solid #FE2E2E; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
	font-size:1.1em;
}
	/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
	input#gobutton:hover, input#gobutton:focus{
	background-color :#9E1717; /*make the background a little darker*/
	/*reduce the drop shadow size to give a pushed button effect*/
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}

*{
	font-family: "Trebuchet MS", Arial, Sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: transparent;
	letter-spacing: 0px;
	word-spacing: 0.08em;
	line-height: 18px;
}

body{
	font-size: 11px;
	background-color: #fff;
	color: #777;
}

#allContent{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
}

.inner{
	display: block;
	padding: 10px;
}

#alertBoxes{
	display: block;
	width: 500px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}
.loginBlock{
	display: block;
	width: 500px;
	border: 1px solid #eaeaea;
	background-color: #fafafa;
	/*text-align: left;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.loginBlock form input[type=text], .loginBlock form input[type=password]{
	display: inline-block;
	margin: 5px;
	border: 1px solid #dadada;
	background-color: #eaeaea;
	padding: 3px;
	color: #404040;
	width: 380px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.loginBlock form button{
	display: inline-block;
	margin: 5px;
	border: 1px solid #dadada;
	background-color: #eaeaea;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
	color: #404040;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.timer{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url('loader.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.box-info, .box-success, .box-alert, .box-error{
	clear: both;
	border-width: 1px;
	border-style: solid;
	margin: 0px;
	padding: 5px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.box-info {
	color: #00529b;
	background-color: #bde5f8;
	border-color: #00529b;
}
.box-success {
	color: #4f8a10;
	background-color: #dff2bf;
	border-color: #4f8a10;
}
.box-alert {
	color: #9f6000;
	background-color: #feefb3;
	border-color: #9f6000;
}
.box-error {
	color: #d8000c;
	background-color: #ffbaba;
	border-color: #d8000c;
}

.session_on{
	display: block;
	text-align: left;
}