

<div id="login" class="animate form">
    <section class="login_content">
        <form>
            <h1>Ingreso al Sistema</h1>
            <div>
                <input type="text" class="form-control" placeholder="Usuario" required="" />
            </div>
            <div>
                <input type="password" class="form-control" placeholder="Contraseña" required="" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary" value="Acceder">Acceder</button>
                <!--<a class="btn btn-primary submit" href="index.html">Acceder</a>-->
                <!--<a class="reset_pass" href="#">Lost your password?</a>-->
            </div>
            <div class="clearfix"></div>
            <div class="separator">
 
                <div class="clearfix"></div>
                <br />
                <div>
                    <h1><i class="fa fa-phone" style="font-size: 26px;"></i> Predictivo</h1>
                    <p>&copy; 2005 - <?php echo date('Y') ?> by TicSafe SAC. <?php echo $this->translate('All rights reserved.') ?> </p>
                </div>
            </div>
        </form>
        <!-- form -->
    </section>
    <!-- content -->
</div>
