<div id="login" class="animate form">
    <section class="login_content"> 
        <?php
        $form->setAttribute('action', $this->url('login/process', array('action' => 'authenticate')));
        $form->setAttributes(array(
            'method' => 'post',
            'class' => 'form-horizonal'
        ));
        $form->prepare();

        echo $this->form()->openTag($form);
        echo "<h1>Ingresar al Sistema</h1>";
        echo $this->formRow($form->get('username'));
        echo $this->formRow($form->get('password'));
        ?>
        <div class="clearfix"></div>
        <?php
        echo $this->formSubmit($form->get('submit'));
        ?>
        <div class="clearfix"></div>
        <?php
        echo $this->formRow($form->get('rememberme'));
        ?>
        

        <?php
        echo $this->form()->closeTag();


        if ($this->messages) {
            echo '<p class="alert alert-danger">';
            foreach ($this->messages as $message) {
                echo ' ' . $message . ' ';
            }
            echo '</p>';
        }
        ?>
        <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div style="text-align: center">
                    <h2><i class="fa fa-phone" style="font-size: 18px;"></i> Predictivo</h2>
                    <p>&copy; 2005 - <?php echo date('Y') ?> by TicSafe SAC. <?php echo $this->translate('All rights reserved.') ?> </p>
                </div>
            </div>
        </form>
        <!-- form -->
    </section>
    <!-- content -->
</div>
<div class="clearfix"></div>