<?php echo $this->doctype(); ?>
<?php

use Zend\Session\Container;

$sesion = new Container('user');
clearstatcache();
?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Predictivo ' . $this->translate('| TicSafe'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/telefonoVerde.ico'))
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/fonts/css/font-awesome.min.css')
                ->prependStylesheet($this->basePath() . '/css/maps/jquery-jvectormap-2.0.1.css')
                ->prependStylesheet($this->basePath() . '/css/icheck/flat/_all.css')
                ->prependStylesheet($this->basePath() . '/css/floatexamples.css')
        //               ->prependStylesheet($this->basePath() . '/css/custom.css')
//                ->prependStylesheet($this->basePath() . '')
//                ->prependStylesheet($this->basePath() . '')
//                ->prependStylesheet($this->basePath() . '/css/style.css')
//                ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
//                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
//                ->prependStylesheet($this->basePath() . '/fonts/css/font-awesome.min.css')
//                ->prependStylesheet($this->basePath() . '/css/animate.min.css')
//                ->prependStylesheet($this->basePath() . '/css/editor/index.css')
//                ->prependStylesheet($this->basePath() . '/css/editor/external/google-code-prettify/prettify.css')
//                ->prependStylesheet($this->basePath() . '/css/maps/jquery-jvectormap-2.0.1.css')
//                ->prependStylesheet($this->basePath() . '/css/icheck/flat/_all.css')
//                ->prependStylesheet($this->basePath() . '/css/floatexamples.css')
//                ->prependStylesheet($this->basePath() . '/css/progressbar/bootstrap-progressbar-3.3.0.css')
//                ->prependStylesheet($this->basePath() . '/css/select/select2.min.css')
//                ->prependStylesheet($this->basePath() . '/css/datatables/tools/css/dataTables.tableTools.css')
//                ->prependStylesheet($this->basePath() . '/css/switchery/switchery.min.css')
//                ->prependStylesheet($this->basePath() . '/css/custom.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ;
        ?>


    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/application/index" class="site_title"><i class="fa fa-phone"></i> <span>Predictivo</span></a>
                        </div>
                        <div class="clearfix"></div>

                        <!-- menu prile quick info -->
                        <div class="profile">
                            <div class="profile_pic">
                                <img src="<?php echo $this->basePath(); ?>/images/Fotos/<?php echo $sesion->foto; ?>" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido(a),</span>
                                <h2><?php echo $sesion->nombres; ?></h2>
                                <small class="label"><?php echo $sesion->nivel ?></small>
                            </div>
                        </div>
                        <!-- /menu prile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                            <?php if ($_SESSION['id_nivel'] == 3) { ?>
                                <div class="menu_section">
                                    <h3>Configuración</h3>
                                    <ul class="nav side-menu">
                                        <li><a href="<?PHP echo $this->basePath() . "/application"; ?>"><i class="fa fa-home"></i> Inicio</a>
                                        </li>
                                    </ul>                            
                                </div>
                            <?php } else { ?>
                                <div class="menu_section">
                                    <h3>Configuración</h3>
                                    <ul class="nav side-menu">
                                        <li><a href="<?PHP echo $this->basePath() . "/application"; ?>"><i class = "fa fa-home"></i> Inicio</a>
                                        </li>
                                        <?php if ($_SESSION['id_nivel'] == '1' || $_SESSION['id_nivel'] == 4) {
                                            ?>
                                            <li><a><i class="fa fa-user"></i>Usuarios <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="lista_usuarios.php">Lista de Usuarios</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        <?php } ?>
                                        <li><a><i class="fa fa-users"></i>Agentes <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <!--                                        <li><a href="lista_agentes.php">Lista de Agentes</a>
                                                                                        </li>-->
                                                <li><a href="lista_agentes_asignados.php">Lista por Negocio</a>
                                                </li>
                                                <li><a href="deslogearAgente.php">Deslogear Agente</a>
                                                </li>
                                                <li><a href="lista_agentes_conectados.php">Agente Online </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a><i class="fa fa-wrench"></i>Asignaciones <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <li><a href="asignacionNeg.php">Negocio</a>
                                                </li>
                                                <li><a href="listarCarteras.php">Listado de Carteras</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <?php if ($_SESSION['id_nivel'] == '1' || $_SESSION['id_nivel'] == 4) { ?>
                                            <li><a><i class="fa fa-asterisk"></i>Config Anexos <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="lista_anexos.php?int=1&anex=1&id_neg=99">Lista de Anexos</a>
                                                    </li>
                                                    <li><a href="lista_contextos.php">Lista de Contextos</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                                <div class="menu_section">
                                    <h3>Administración de Campañas</h3>
                                    <ul class="nav side-menu">
                                        <li><a><i class="fa fa-tasks"></i> Creación de Campañas <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <li><a href="crear_campanas.php">Nueva Campaña</a>
                                                </li>
                                                <li><a href="lista_campanas.php">Lista de Campañas</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a><i class="fa fa-bar-chart"></i> Reportes <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <li><a href="avance_campanasPasadas.php">Reporte de Gestión</a>
                                                </li>
                                                <!--                                            <li><a href="avance_campanas.php">Reporte Historico</a>
                                                                                            </li>
                                                                                            <li><a href="avance_campanas.php">Estadistico</a>
                                                                                            </li>-->
                                            </ul>
                                        </li>
                                        <?php
                                        if ($_SESSION['id_nivel'] == '4') {
                                            # code...
                                            ?>
                                            <li><a><i class="fa fa-exchange"></i> Filtros <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="paginacion.php?inter=1">Lista de Filtros</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <?php
                                        }

                                        if ($_SESSION['id_nivel'] == '1' || $_SESSION['id_nivel'] == 4) {
                                            ?>
                                            <li><a><i class="fa fa-archive"></i> CDR <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="reporte.php">Lista de Grabaciones</a>
                                                    </li>                                                
                                                </ul>
                                            </li>
                                            <li><a><i class="fa fa-gears"></i> Configuración <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="listado_msj_voz.php">Listado de Mensaje de Voz</a>
                                                    </li>
                                                    <li><a href="listado_nivel_acceso.php">Niveles de acceso</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                            <?php } ?>

                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small" style="display: none;">
                            <a href="<?php echo $this->url('login/process', array('action' => 'logout')); ?>" data-toggle="tooltip" data-placement="top" title="Salir">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">

                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="<?php echo $this->basePath(); ?>/images/Fotos/<?php echo $sesion->foto; ?>" alt=""><?php echo $sesion->nombres; ?>
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                        <li><a href="../../php/pag/detalleUsuarios.php?idpersonal=<?php echo $id_personal ?>&perfil=1">  Perfil</a></li> 
                                        <li><a href="javascript:;"><span class="badge bg-red pull-right"><?php echo $sesion->negocio;?></span><span>Negocio</span></a></li> 
                                        <li>
                                            <a href="../../php/doc/ayuda.php" target="_blank" onclick="window.open(this.href, this.target, 'width=1100,height=700,top=0,left=700,resizable=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes');return false;">Ayuda</a>
                                        </li>
                                        <li><a href="<?php echo $this->url('login/process', array('action' => 'logout')); ?>"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                                        <li>
                                            <a>
                                                <span class="image">
                                                    <img src="<?php echo $this->basePath(); ?>/images/img.jpg" alt="Profile Image" />
                                                </span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where... 
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" />
                                                </span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where... 
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" />
                                                </span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where... 
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image">
                                                    <img src="images/img.jpg" alt="Profile Image" />
                                                </span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where... 
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong><a href="inbox.html">See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">        
                    <!-- Contenido -->
                    <?php echo $this->content; ?>
                    <!-- Contenido -->

                    <div style="height: 1100px;">&nbsp;</div>
                    <!-- footer content -->
                    <footer style="">
                        <div class="">                            
                            <p class="pull-right">&copy; 2005 - <?php echo date('Y') ?> by TicSafe SAC. <?php echo $this->translate('All rights reserved.') ?> |
                                <span class="lead"> <i class="fa fa-phone"></i> Predictivo</span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
                <!-- /page content -->
            </div>
        </div>
        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
        <?php include 'includes_foot.php'; ?>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
