<?php

use Zend\Session\Container;

$sesion = new Container('user');
?>
<h1 style="text-align: center;"><?php echo $this->titulo; ?></h1>
<div class="row">
    <div class="x_content">
        <div class="x_panel">
            <?php
            echo "hola que hace $sesion->username <br>";

            echo $sesion->username;
            echo $sesion->nivel;
            ?>
        </div> 
    </div>
</div>